@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tilt Warp', sans-serif;
}

body {
  margin: 0;
  font-family: 'Tilt Warp', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}

